/* Define custom CSS variables */
:root {
    --green-color: #0A8080;
    --pink-color: #DB4A87;
    --white-color: #FFF;
}

/* Set the font for the entire document */
body {
    font-family: 'DM Sans', sans-serif;
}

/* Logo Section */
.logo > img {
    width: 57px;
    height: 47px;
}

/* Apply styles to an element with the ID 'spec' */
#spec {
    color: #0A8080;
}

/* Styling for the logo */
.logo {
    width: 300px;
    display: flex;
    gap: 14px;
    align-items: center;
}

/* Styling for the logo's h3 element */
.logo h3 {
    font-size: 2rem;
}

/* Styling for list items with the ID 'spec' */
li #spec {
    height: 30px;
}

/* Navigation Section */
/* Style the navigation bar */
nav {
    width: 75%;
    display: flex;
}

/* Style the menu */
.menu {
    display: flex;
    align-items: center;
}

/* Style anchor links */
a {
    text-decoration: none;
    color: #02073E;
}

/* Remove list-style for list items */
li {
    list-style: none;
}

/* Right-aligned navigation items */
.navright {
    display: flex;
    gap: 34px;
    margin-left: auto;
}

/* Introduction Section */
.intro {
    width: 60%;
    text-align: center;
    position: relative;
    top: 60px;
    left: 20%;
}

/* Style the introduction header */
.intro h1 {
    color: #02073E;
    font-family: 'B612';
    font-size: 43px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -1px;
}

/* Illustration Section */
.illustration {
    width: 100%;
    display: flex;
    align-items: center;
}

/* Style images within the illustration section */
.illustration img {
    width: 100%;
}

/* Wrapper Section */
.wrapper {
    width: 100%;
    height: 1000px;
    background-color: #FFF5ED;
}

/* Styling for boxes within the wrapper section */
.box {
    width: 100%;
    height: 52%;
}

/* Service Section */
.Service {
    width: 60%;
    text-align: center;
    position: relative;
    top: 60px;
    left: 20%;
}

/* Styling for the service header */
.Service h2 {
    color: #0F2137;
    text-align: center;
    font-family: 'B612';
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.5px;
}

/* Styling for tag images */
.tag > img {
    width: 20%;
}

/* Styling for the tag section */
.tag {
    width: 25%;
    display: flex;
    gap: 6%;
}

/* Styling for the service items */
.service {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5%;
    position: relative;
    top: 130px;
}

/* Styling for links within the 'features' class */
.features a {
    color: #3183FF;
}

/* Customer Section */
.customer {
    width: 100%;
    height: 50%;
    position: relative;
}

/* Styling for the quote section */
.Quote {
    margin: 0;
    width: 50%;
    margin-left: 26%;
}

/* Styling for quote text */
.Quote > p {
    color: #0F2137;
    font-family: 'B612';
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

/* Styling for the advisor's name */
#advisorName {
    color: #7E8896;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
}

/* Styling for quote images */
.Quote > img {
    z-index: -1;
}

/* Styling for the companies section */
.companies {
    margin-top: 3%;
    margin-left: 12%;
}

/* Styling for the companies within the customer section */
.customer .companies {
    width: 75%;
}

/* Styling for the 'ultimatefeatures' section */
.ultimatefeatures {
    width: 100%;
}

/* Styling for text within the 'text' class */
.text {
    margin-top: 5%;
    color: #0F2137;
    text-align: center;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}

/* Styling for 'text' class header */
.text > h2 {
    color: #0F2137;
    font-family: 'B612';
    font-size: 34px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.5px;
}

/* Features Section */
/* Styling for the first feature section */
.Features {
    margin-top: 70px;
    padding: 60px;
}

/* Styling for the first feature container */
.first {
    display: flex;
}

/* Styling for feature images */
.features img {
    width: 40%;
    height: 50%;
}

/* Styling for feature sections */
.features {
    width: 45%;
    display: flex;
    align-items: center;
}

/* Styling for information paragraphs */
.infor p {
    color: #343D48;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/* Subscribe Section */
/* Styling for the second image in the subscribe section */
.Subscribe #img2 {
    width: 12%;
    height: 45%;
    margin: 0;
    padding: 0;
    float: left;
}

/* Styling for the first image in the subscribe section */
.Subscribe #img1 {
    width: 8%;
    height: 45%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -26%;
    left: 3%;
}

/* Styling for the third image in the subscribe section */
.Subscribe #img3 {
    width: 15%;
    height: 45%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -26%;
    left: 76%;
}

/* Styling for the fourth image in the subscribe section */
.Subscribe #img4 {
    width: 10%;
    height: 30%;
    margin: 0;
    padding: 0;
    margin-left: 69%;
}

/* Styling for the Subscribe section */
.Subscribe {
    width: 100%;
    height: 650px;
    background-color: #F8F0EA;
}

/* Styling for the subscribe container */
.subscribe {
    background-color: #FFF;
    width: 65%;
    height: 50%;
    display: flex;
    position: relative;
    top: -7%;
    left: 4%;
}

/* Styling for the first column in the subscribe section */
.one h2 {
    color: #0F2137;
    font-family: 'B612';
    font-size: 26px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.5px;
}

/* Styling for text in the first column */
.one p {
    color: #343D48;
    font-family: 'DM Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

/* Styling for the second column in the subscribe section */
.two {
    width: 45%;
    height: 50%;
    margin-top: 9%;
}

/* Styling for the form field container */
.Feild {
    display: flex;
}

/* Styling for input fields */
input {
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #EFF3F7;
    color: #02073E;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

/* Styling for text in the second column */
.two p {
    color: #9095AD;
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* Footer Section */
footer {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for the 'termsandconditions' section in the footer */
.termsandconditions p {
    color: #0F2137;
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Styling for the 'foot' container in the footer */
.foot {
    width: 85%;
    display: flex;
}

/* Styling for the 'connect' image in the footer */
.connect img {
    float: left;
}

/* Styling for the 'group' section in the footer */
.group {
    width: 55%;
}

/* Styling for the 'group' section header */
.group h3 {
    margin-left: 40px;
}

/* Remove the left margin for list items within the 'group' section */
.group li {
    margin-left: 0;
}

/* Buttons */
/* Common styling for buttons */
.btn {
    font-size: 18px;
    border-radius: 5px;
    color: var(--white-color);
    text-align: center;
    font-weight: 700;
    line-height: 40px;
}

/* Styling for the 'Get Started' button */
.btn.Getstarted {
    width: 22%;
    background: var(--green-color);
}

/* Styling for the 'Subscribe' button */
.btn.sub {
    width: 30%;
    height: 119.582px;
    background: var(--pink-color);
}
